body {
  background-color: #B0E0E6;
  border: 20px solid;
  border-image: url(floral.avif) 190 round;
}
.divgift
img {
  border-width: 0;
  width: 50%;
  height: 50%;
  margin-left:  auto;
  margin-right: auto;
}
.banner {
  display: inline-block;
  align-items: center;
  justify-content: center;
  height: 700px;
  width: 100%;
  position: relative;
}
.banner::before {
  content: "";
  position: absolute;
  inset: 0;
  background-image: url("borboleta.jpg");
  background-size: cover;
  background-position: bottom;
  z-index: -1;
  opacity: 0.5;
}
h1 {
  font-family: cursive;
  text-align: center;
  text-decoration: underline;
  color: darkblue;
}
h2 {
  text-align: center;
}
.formu {
  text-align: center;
}
footer {
  display: flex;
  justify-content: space-between;
  background-color: white;
  padding: 15px;
}

.column {
  flex: 1;
  margin: 0px;
  text-align: center;
}

.column p {
  font-size: 0.9em;
}
 
img {
   height: 30px;
   width: 30px;
 }
 





